/*============= FONTES ===================*/
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Light/NotoSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Light/NotoSans-Light.woff') format('woff'), url('../fonts/NotoSans-Light/NotoSans-Light.ttf')  format('truetype'), url('../fonts/NotoSans-Light/NotoSans-Light.svg#Rikon-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*============= /FONTES ===================*/

:root{
	/* fonts */
    --noto: 'Noto Sans', sans-serif;
    /* /fonts */

    /* Cores */
    --cinza: #F1F5F9;
    --orangeclaro: #F9AF48;
    --cinzaclaro: #999999;
    /* /Cores */
}


/*============= CUSTOMIZAÇÃO ===================*/
.main-760 {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}

p {
    margin: 0 auto 20px;
    font-family: var(--noto);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
}

.card-credo {
    background-color: var(--cinza);
}

.card-credo:hover {
    background-color: var(--orangeclaro);
    transition: .2s;
}

.card-credo.active {
    background-color: var(--orangeclaro);
}

.btn-credos {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
}

.icon-credos span {
    font-family: var(--noto);
    color: var(--dark);
    margin-left: 10px;
    text-decoration: none;
}

.text-sub-title, .text-chamada, .title-matter, .cred-photo span {
    font-family: var(--noto);
}

.title-matter {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.text-sub-title {
    font-size: 40px;
    font-weight: 700;
}

.img-matter img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cred-photo span {
    display: block;
    color: var(--cinzaclaro);
    font-size: 16px;
}

/*============= /CUSTOMIZAÇÃO ===================*/

/*============= MEDIA QUERY ===================*/
@media screen and (max-width: 500px){
    .text-sub-title {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
}
/*============= /MEDIA QUERY ===================*/